# Data Science Tools and Ecosystem

**In this notebook, Data Science Tools and Ecosystem are summarized.**

**Objectives:**
- Popular languages used by data scientists
- Commmonly used libraries used by data scientists
- Data Science Tools
- Examples of python code used to evaluate mathematical expressions

*Some of the popular languages that Data Scientists use are:*
1. Python
2. SQL
3. R
4. Scala
6. Java
7. C++
8. Julia

*Some of the commonly used libraries used by Data Scientists include:*
1. TensorFlow
2. Numpy
3. SciPy 
4. Pandas
5. Matplotlib
6. Seaborn
7. Scikit-learn
8. Keras
9. PyTorch
10. apacheSpark

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|Rstudio|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

*This a simple arithmetic expression to mutiply then add integers*

In [1]:
(3*4)+5

17

*This will convert 200 minutes to hours by dividing by 60*

In [2]:
200/60

3.3333333333333335

## Author

Deanna Johansen